* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #000;
  color: #fff;
  padding: 20px;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  color: #ffd166;
  font-weight: 600;
}

.top-nav {
  list-style: none;
  display: flex;
  gap: 30px;
}

.top-nav li a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 1rem;
}

.top-nav li a:hover {
  color: #ffd166;
}

.logout {
  color: #ff4d4d !important;
}

.logout:hover {
  color: #ff1a1a !important;
}

/* PROFILE WRAPPER */
.profile-container {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

/* USER CARD */
.profile-card {
  background: #111;
  padding: 30px;
  border-radius: 18px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255,255,255,0.06);
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #ffd166;
  margin-bottom: 15px;
}

.user-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.user-desc {
  color: #bbb;
  margin-bottom: 20px;
}

/* EDIT BUTTON */
.edit-btn {
  padding: 10px 18px;
  background: #ffd166;
  color: #000;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 25px;
  transition: 0.3s;
}

.edit-btn:hover {
  background: #ffb700;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stat-item {
  background: #222;
  width: 90px;
  padding: 12px;
  border-radius: 12px;
}

.stat-item h3 {
  font-size: 1.4rem;
  color: #ffd166;
}

/* SETTINGS */
.settings-container {
  background: #111;
  padding: 30px;
  width: 450px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(255,255,255,0.06);
}

.settings-container h2 {
  margin-bottom: 20px;
}

.settings-box label {
  display: block;
  margin-top: 15px;
  color: #ccc;
}

.settings-box input {
  width: 100%;
  background: #222;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  color: #fff;
}

.save-btn {
  width: 100%;
  background: #ffd166;
  color: #000;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background: #ffb700;
}
